<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Welcome to our wonderful domain!</title>
    <meta name="description" content="A desciption of our website and introduction.">
     <link href="welcome.css.scss" rel="stylesheet" media="screen">
    </head>
    <body><div class="contents">
    <header id="mainHeader" role="banner"><!--copy and paste to other pages-->
        <h1><a href="index">Welcome !</a></h1>
        <p id="intro">Welcome to our domain, and we hope you enjoy the visit!</p>
        <nav role="navigation">
        <ul class="navigation">
            <li><a href="index.html" title="Home Page" class="current">Home</a></li>
            <li><a href="projects.html" title="Projects">Members</a></li>
            <li><a href="Maps" title="Map">Maps</a></li>
            <li><a href="Fun" title="Fun Facts">Fun Facts</a></li>
            <li><a href="Extra" title="Extra">Learn More</a></li>
            </ul>
        </nav>
        </header>
<p>Add some things below</p>
