<title>Welcome to our wonderful domain!</title>
<meta name="description" content="A desciption of our website and introduction.">
<%= stylesheet_link_tag('application') %>
<%= render(:partial => "default")%>

<div class="learn">
  <h4 class="learn_title">Learn More</h4>
  <h3 class="learn">Web</h3>
  <div class="webContainer">
    <div class="card">
      <div class="title">
        <span>NASA</span>
      </div>
      <div class="supporting-text">
        <span>
          responsible for civilian space programs, aeronautcis
          and aerospace research
        </span>
      </div>
      <div class="action">
        <span><a href="https://www.nasa.gov/" target="_blank">GO TO SITE</a></span>
      </div>
    </div>
    <div class="card">
      <div class="title">
        <span>AstroViewer</span>
      </div>
      <div class="supporting-text">
        <span>
          interactive night sky map that allows you to set time
          and position on Earth
        </span>
      </div>
      <div class="action">
        <span><a href="http://www.astroviewer.com/index.php" target="_blank">GO TO SITE</a></span>
      </div>
    </div>
    <div class="card">
      <div class="title">
        <span>Sky & Telescope</span>
      </div>
      <div class="supporting-text">
        <span>
          astronomy magazine founded in 1941 with your latest
          information
        </span>
      </div>
      <div class="action">
        <span><a href="http://www.skyandtelescope.com/" target="_blank">GO TO SITE</a></span>
      </div>
    </div>
    <div class="card">
      <div class="title4">
        <span>The Almanac: Astronomy</span>
      </div>
      <div class="supporting-text">
        <span>
          monthly updates of sky maps and the latest sky watch highlights
        </span>
      </div>
      <div class="action">
        <span><a href="http://www.almanac.com/astronomy" target="_blank">GO TO SITE</a></span>
      </div>
    </div>
  </div>
  <h3 class="learn">Videos</h3>
  <div class="youtubeContainer">
    <iframe width="280" height="158" src="https://www.youtube.com/embed/videoseries?list=PLFr_CR2naq_GKR51V_l4ECL9iexYlo2-h" frameborder="0" allowfullscreen></iframe>
    <iframe width="280" height="158" src="https://www.youtube.com/embed/ZtaKWt26dNs" frameborder="0" allowfullscreen></iframe>
    <iframe width="280" height="158" src="https://www.youtube.com/embed/HTnO6HGL7mY?list=PLAGggYDwCYhO5wXMucI_GwWk6ucTsXF1M" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
