<title>Welcome to our wonderful domain!</title>
<meta name="description" content="A desciption of our website and introduction.">
<%= stylesheet_link_tag('application') %>
<%= render(:partial => "default")%>

<div class="learn">
  <p>Learn more about space!</p>
  <h3 class="learn">Web</h3>
  <div class="webContainer">
    <div class="card">
      <div class="title">
        <span>NASA</span>
      </div>
      <div class="supporting-text">
        something about nasa
      </div>
      <div class="action">
        <a href="https://www.nasa.gov/">GO TO SITE</a>
      </div>
    </div>
  </div>
  <h3 class="learn">Videos</h3>
  <div class="youtubeContainer">
    <iframe width="280" height="158" src="https://www.youtube.com/embed/videoseries?list=PLFr_CR2naq_GKR51V_l4ECL9iexYlo2-h" frameborder="0" allowfullscreen></iframe>
    <iframe width="280" height="158" src="https://www.youtube.com/embed/videoseries?list=PLFr_CR2naq_GKR51V_l4ECL9iexYlo2-h" frameborder="0" allowfullscreen></iframe>
    <iframe width="280" height="158" src="https://www.youtube.com/embed/videoseries?list=PLFr_CR2naq_GKR51V_l4ECL9iexYlo2-h" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
