@charset "UTF-8";

h1 {
    font-family: Arial, Helvetica, sans-serif;
}
h1 a{
    font-family: cursive;
    font-size:0.8em;
}
body{
    background-image: asset-data-url('bg.png');
    width: 98%;
    height: 100%
}
//svg***********************************
svg {
  background-color: black;
}

circle:hover {
  fill: yellow;
}

circle #ursa_minor1:hover{
  fill: black;
}

line {
    stroke: red;
    stroke-width: 1px;
    //visibility: hidden;
}

//end svg*******************************

 #intro{
    font-style: italic;
    font-size: 1.2em;
}

 #intro::before{
    content: open-quote;
    font-size:1.5em;
    color:black;
}

 #intro::after{
    content: close-quote;
    font-size:1.5em;
    color:black;
}

header h3{
    font-family: Arial, Helvetica, sans-serif;
}


header#mainHeader{

}
header#mainHeader nav {
    position: absolute;
    top:0;
    margin:0px 20px 0px 150px;
    padding-top:1.5em;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav > ul > li { /* nested li in nested ul within nav */
    float: left;
}


nav ul li a {
    display: inline-block;
    text-decoration: none;
    width: 5.2em;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: grey;
}

header#mainHeader ul {
    padding-left: 0px;
}

header#mainHeader ul li {
    margin-left:-0.25em;
    border:2px black solid;
    border-right: 5px black solid;
    background-color: #1781E5;
    transition-property: background-color;
    transition-duration: 0.5s;
}

header#mainHeader ul li:hover {
    color: #FFFFFF;
    background-color: #204BCF;
    transition-property: background-color;
    transition-duration: 1s;
}

header#mainHeader ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    color: #2E2E2E;
    padding: 0px 20px 1px 10px;
    margin-top: auto;
    border-right: 1px solid #000;
    text-align: center;
}

header#mainHeader ul li a:last-child{
    border: none;
}
header#mainHeader ul li a.current {
    color: #FFFFFF;
    background-color: grey;
}


header#mainHeader ul li a:hover {
    color: #FFFFFF;
    background-color: #204BCF;
}

header#mainHeader ul li:hover > ul{
    display: block;
}


body p {
    padding:0px 50px;
}

main{
    text-align: justify;
}
body p#intro{
  padding-left:50px
}

/*#pageFooter{
    border-top: 3px #000000 solid;
    font-size: 1.2em;
    font-family: sans-serif;
    background-color:deepskyblue;

}

footer p#address{
    margin-bottom: -15px;
}

.rightCol{
    position:relative;
    text-align: right;
    left:525px;
    bottom:145px;
    width:400px;
}

.leftCol{
    width:400px;
}
*/
/*page limiter*/
div.contents{
    width: 1600px;
    margin: 0 auto;
    background-color: #BDBDBD;
    padding-left: 10px;
}


/*classes and IDs in alphabetical order*/


time{
    font-style: italic;
}
