
<%if object && object.errors.size > 0 %>
  <div class = 'error_message'>
    <ul>
      <% object.errors.full_messages.each do |message|%>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<%end%>
