<title>Welcome to our wonderful domain!</title>
<meta name="description" content="A desciption of our website and introduction.">
<%= stylesheet_link_tag('application') %>
<%= render(:partial => "default")%>

<p>This is maps.</p>

<canvas id="Canvas" width='1000px' height='1000px'>
  <script>multi()</script>
</canvas>
